.main_container5{
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
}
.container5 {
    width: 100%;
    max-width: 1200px;
}
.card5_element{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    align-items: center;
}
.card5_element .search input{
    height: 40px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    
    /* margin-right: ; */
}
.search button{
    margin-right: 40px;
    height: 40px;
    width: 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.card5_element h4 {
    font-size: 24px;
    font-weight: bold;
    color: #3b3939;
}

.card5_element input {
    padding: 8px 12px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.card5{
    width: 200px;
    height: 340px;
    border: 1px solid rgba(0, 0, 0, 0.049);
    border-radius: 10px;
    padding: 10px;
}
.card5 .card5_img{
    width: 100%;
    height: 60%;
}
.card5 .detailes5{
    width: 100%;
    height: 40%;
    padding: 0px 5px;
    
}
.stars5{
    display: flex;
    align-items: center;
}
.card5_img img{
    width: 100%;
    height: 100%;
}
.detailes5 .cod{
    background-color: #3B82F6;
    color: white;
    font-size: 13px;
    padding: 3px;
    border-radius: 5px;
    
}
.delivery {
    font-size: 13px;
    opacity: 0.7;
    font-weight: 500;
}
.card5_slider{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 17px;
  padding: 20px;

}

    