.footer_container{
    width: 100%;
    height: 320px;
    background-color: #111926;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.item1{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 5px;
    padding: 0 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.item1 h1{
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;

}
.item1 .follow h4{
    margin-left: -10px;
}
.social{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.item2{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;

}
.item2 .address{
    display: flex;
    flex-direction: column;
}
.item2 > span{
    font-size: 20px;
    font-weight: 600;
}
.item3{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 60px;
    gap: 10px;
}
.item3 .condition{
    display: flex;
    flex-direction: column;
}
.item3 > span{
    font-size: 20px;
    font-weight: 600;
}
.item4{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
}
.item4 span{
    font-size: 20px;
    font-weight: 600;
}
.item4 .app{
    display: flex;
    flex-direction: column;
}
.item4 button{
    height: 50px;
    width: 130px;
    border: none;
    overflow: hidden;
}
.item4 button img{
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: -40px;
    

    background-color: #111926;
    
}
.icon{
    
    display: flex;
    justify-content: center;
    background-color: #111926;
    padding: 30px 0px;
    
}
.end{
    width: 100%;
    height: 80px;
    background-color: #222836;
    color: #b2c3cf93;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width: 1024px) {
  .footer_container {
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    padding: 20px;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    width: 45%;
    margin: 20px 0;
    padding: 0 20px;
  }

  .item1 h1 {
    font-size: 50px;
  }

  .item4 button {
    width: 100px;
    height: 45px;
  }

  .item4 button img {
    height: 100px;
    margin-top: -30px;
  }
}

@media (max-width: 768px) {
  .footer_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    gap: 30px;
    height: auto;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }

  .item1 h1 {
    font-size: 41px;
    margin-bottom: 10px;
  }

  .item2 > span,
  .item3 > span,
  .item4 span {
    font-size: 18px;
  }

  .item4 button {
    width: 100px;
    height: 45px;
  }

  .social {
    font-size: 18px;
  }

  .end {
    height: auto;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .item1 h1 {
    font-size: 30px;
  }

  .item2 > span,
  .item3 > span,
  .item4 span {
    font-size: 16px;
  }

  .social {
    font-size: 16px;
    gap: 8px;
  }

  .item4 button {
    width: 90px;
    height: 40px;
  }

  .item4 button img {
    height: 90px;
    margin-top: -25px;
  }

  .end {
    font-size: 13px;
  }
}
