
 *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }
 .nav{
    width: 100%;
    height: 90px;
    /* background-color: rgb(250, 240, 230); */
 }
 .nav .main .logo h1{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
 }
 .main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
 }
.nav .main .search input{
    width: 500px;
    height: 45px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    background-color: rgb(198, 191, 191);
    
    
}

.nav .main .search button{
    width: 100px;
    height: 45px;
    border: none;
    background-color: #222836;
    color: white;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cart {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.singin {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.singin span{
    font-weight: bold;
}
.page_container {
    width: 100%;
    height: 45px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.363);
    overflow: hidden;
}
.pages ul{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-left: 90px;
    padding: 10px 30px;
    gap: 25px;
}
.pages ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 4px;
    
}
.pages ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 17px;
}













@media (max-width: 1024px) {
  .nav .main {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }

  .nav .main .search input {
    width: 70vw;
  }

  .nav .main .search button {
    width: 25vw;
    max-width: 100px;
  }

  .pages ul {
    margin-left: 30px;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .nav {
    height: auto;
    padding: 10px 0;
  }

  .main {
    flex-direction: column;
    gap: 15px;
  }

  .nav .main .logo h1 {
    font-size: 2.5rem;
  }

  .nav .main .search {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .nav .main .search input,
  .nav .main .search button {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
.nav .main .search button{
    margin-left: 30px;
}

  .cart,
  .singin {
    justify-content: center;
    gap: 10px;
    margin-right: 5px;
  }

  .pages ul {
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .nav .main .search input {
    width: 90%;
    height: 40px;
  }

  .nav .main .search button {
    width: 90%;
    height: 40px;
  }

  .pages ul {
    padding: 10px;
    font-size: 15px;
  }

  .pages ul li a {
    font-size: 14px;
  }

  .cart span,
  .singin span {
    font-size: 14px;
  }
}
